/* create.css */

.survey-form {

    background-color: #ffffff; /* White background for the form */
    border-radius: 10px; /* More pronounced rounded corners */
    padding: 15px; /* Decreased spacing inside the form */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Enhanced shadow for depth */
    max-width: 600px; /* Limit the form width */
    margin: 100px auto; /* Center the form */
  }
  
  .survey-title {
    margin-top: 10px;
    margin-bottom: 12.5px; /* Space below the title input */
  }
  
  .question-container {
    display: flex; /* Align items in a row */
    align-items: center; /* Center vertically */
    margin-bottom: 7.5px; /* Space below each question */
    transition: transform 0.2s; /* Smooth transition for hover effect */
  }
  
  .question-container:hover {
    transform: scale(1.02); /* Slightly enlarge on hover */
  }
  
  .question-input {
    flex-grow: 1; /* Make input grow to fill space */
    margin-right: 7.5px; /* Space to the right of input */
  
    border-radius: 5px; /* Rounded corners for input */
    padding: 5px; /* Decreased padding inside input */
    transition: border-color 0.3s; /* Smooth transition for border color */
  }
  
  .question-input:focus {
    border-color: #007bff; /* Blue border on focus */
    outline: none; /* Remove default outline */
  }
  
  .add-question-button,
  .create-survey-button {
    text-transform: none;
    margin: 10px;
    border-radius: 5px; /* Rounded corners for buttons */
    padding: 5px 10px; /* Decreased padding for buttons */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
  }
  
  /* Button hover effects */
  .add-question-button:hover,
  .create-survey-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    color: #ffffff; /* White text on hover */
    transform: translateY(-2px); /* Lift button on hover */
  }
  
  /* Icon button styling */
  .MuiIconButton-root {
    padding: 5px; /* Decreased padding for icon buttons */
    color: #ff1744; /* Red color for remove icon */
    transition: color 0.3s; /* Smooth color transition */
  }
  
  .MuiIconButton-root:hover {
    color: #d50000; /* Darker red on hover */
  }
  
  /* Responsive design for small screens */
  @media (max-width: 600px) {
    .survey-form {
      padding: 10px; /* Further reduced padding for smaller screens */
    }
  
    .question-input {
      font-size: 12.5px; /* Adjust font size for smaller screens */
    }
  
    .add-question-button,
    .create-survey-button {
      font-size: 12.5px; /* Adjust button font size for smaller screens */
    }
  }
  