.message-container{
    display: flex;
     justify-content: space-between;
}

.message-text{
    margin-left: 15px;
    text-align: start;
    width: 300px;
    font-size: 18px;
}

.mes-p-tag-1{
    text-align: start;
    font-size: 15px;
}
.mes-p-tag-2{
    font-size: 15px;
    color:#007575
}