.todo-list{
    background: rgba(0, 0, 0, 0.37);
   
  
 
    border: 1px solid #47CED3;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 50px;
   
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    border-radius: 20px;

}





  .Main-container{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: 90%;
    padding: 20px 20px 10px 25px; /* Top, Right, Bottom, Left */
    margin-top: 10px;
    border: 1px solid #47CED3;
    border-radius: 20px;
  
    
  
}


.todo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.text-container{
    display: flex;
    text-align: start;
    flex-direction: column;
    width: 250px;
   
}

.flag{
    margin-bottom: 8px;
    display: flex;
    width: 100%;
}


.timer-div{
    display: flex;
}




.Completed {
    padding: 4px;
    margin-top: 3px;
    background-color: #007c72fa; /* light yellow */
    color: #e6e5e4; /* dark yellow text */
    padding: 5px 15px 5px 20px; /* Top, Right, Bottom, Left */
    border-radius: 5px;
}

.In-Progress {
    padding: 4px;
    margin-top: 3px;
    background-color: #007c72fa; /* light yellow */
    color: #e6e5e4; /* dark yellow text */
    padding: 5px 15px 5px 20px; /* Top, Right, Bottom, Left */
    border-radius: 5px;
}

.Paused {
    padding: 4px;
    margin-top: 3px;
    background-color: #007c72fa; /* light yellow */
    color: #e6e5e4; /* dark yellow text */
    padding: 5px 15px 5px 20px; /* Top, Right, Bottom, Left */
    border-radius: 5px;
}



.Low{
    color: rgb(187, 156, 0);
}


.Medium{
    color: rgb(180, 90, 6);
}

.High{
    color: rgb(0, 174, 41);
}