.todo-list-row {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between form elements */
    padding: 20px;
   
   
}

.select-employee, .pick-priority, .pick-task {
    width: 100%;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    font-size: 1rem;
    /* outline: none; */
    transition: border-color 0.3s;
}



.pick-date .date-picker {
    width: 100%;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    font-size: 1rem;
}

.dialog-cancel-btn, .dialog-add-btn {
    padding: 8px 20px;
    font-size: 1rem;
    /* border-radius: 5px; */
    transition: background-color 0.3s, color 0.3s;
    margin: 5px; /* Adds a bit of space around the buttons */
}

.dialog-cancel-btn {
    background-color: #e8eced; /* Dark blue for Cancel */
    color: #07312e;
    border: none; /* Remove default button border */
}

.dialog-cancel-btn:hover {
    background-color: #014d5b; /* Slightly darker on hover */
}

.dialog-add-btn {
    background-color: #0e5767; /* Same blue for Add Task */
    color: #ffffff;
    border: none; /* Remove default button border */
}

.dialog-add-btn:hover {
    background-color: #388e3c; /* Darker green on hover */
}

@media (max-width: 768px) {
    .todo-list-row {
        gap: 10px;
    }

    .select-employee, .pick-priority, .pick-task, .pick-date .date-picker {
        font-size: 0.9rem;
    }

    .dialog-cancel-btn, .dialog-add-btn {
        font-size: 0.9rem;
        padding: 6px 15px;
    }
}

/* Dialog Title, Content, and Footer */
.dialog-title {
    color: white;
    background: rgba(1, 58, 45, 0.863); /* Dark greenish footer background */
    padding: 10px; /* Padding for better spacing */
 
    font-weight: bold;
}

.dialog-content {
    color: white;
    background: rgb(9, 24, 21); /* Darker background for contrast */
    padding: 15px; /* Padding inside content area */
   
}

.dialog-footer {
    color: white;
    background: rgba(1, 58, 45, 0.863); /* Dark greenish footer background */
    padding: 10px; /* Padding for better spacing */
   
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    gap: 10px; /* Space between buttons */
}
